* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

element. style {
    display: flex;
    align-items: baseline;
}

body {
    background-color: black;
    font-size: 18px;
    color: white;
    min-height: 100vh;


    & ul {
        list-style-type: none;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #4A4F56;
        text-align: center;
        color: #FF8984;
        margin-bottom: 20px;
    }

    .header-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .blocks {
        margin: 20px auto;
        width: 200px;
        gap: 20px;
        width: 530px;
        height: 45px;
        top: 102px;
        left: 129px;
        margin: 0 auto;
    }

    .block {
        background-color: #88839E;
        transition: background-color 0.35s ease-in;
        color: white;
        width: 530px;
        height: 45px;
        top: 102px;
        padding: 10px;
    }

    /*list*/

    .list {
        max-width: 530px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .list-label {
        display: flex;
        padding: 10px;
        /*background-color: #88839E;*/
        gap: 10px;
        align-items: center;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;

    }

    .list-label:hover {
        border-color: white;
    }

    .list-item {
        background-color: #88839E;
    }

    .list-item:nth-child(2n) {
        background-color: #7A7593;
    }

    .block:hover {
        background-color: #625E77;
        border: 2px solid whitesmoke;

    }

    .block:last-child {
        background-color: #7A7593;
        border: none;
        margin-bottom: 0;
    }

    .block :active {
        background-color: #ac736c;
    }

          .checkbox {
        width: 18px;
        height: 18px;
        top: 114px;
        left: 141px;

    }

    .myClass:checked + span+small{
        text-decoration: line-through;
    }

    .myClass:checked + span {
        text-decoration: line-through;
    }
    .block:nth-child(2n) {
        background-color: #7A7593;
    }

    .extra-text {
        font-size: 8px;
        text-align: center;
    }

    .extra-text::before {
        content: "(";
    }

    .extra-text::after {
        content: ")";
    }

    .last-item {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #4A4F56;
        text-align: center;
        color: #FF8984;
        /*margin-bottom: 10px;*/
        font-size: 24px;
        width: 530px;
        align-items: baseline;
        margin: auto;
    }
}
